/* STRUCTURE */

#container { 
  	margin:0;
  	padding:0;	
}

#logoVermontVision {
	background-color: black;
	height: 5vh;
	min-height: 70px;
}

#logoVermontVision h1 {
	color: grey;
	float: left;
	margin-left: 3%;
	padding-top: 1vh;
}

#carte {
	box-sizing: border-box;
	height: 61.5vh;
	width: 100vw;
	text-align: center;
	background-color: white;
}

#vermontView {
    max-height:100%;
    max-width: 100%;
    /* image resized to fiully fill the div */
    width:100%;
    height:100%;
    
}

#timeLine {
	box-sizing: border-box;
	background-color: black;
	height: 29vh;
	/*width: 100%;*/
	overflow-x: scroll;
	display: flex;
  	align-items: stretch;
}

.input {
	/*margin: auto;*/
	display: inline-block;
	height: 100px;
	border: 1px solid white;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: auto;
	margin-bottom: auto;
}

.input p {
	line-height: 1.5;
  	display: inline-block;
  	vertical-align: middle;
}

/* Style the header: fixed position (always stay at the top) */
.header {
	position: relative;
	bottom: 0;
	z-index: 1;
	width: 100%;
	background-color: red;
}

/* The progress container (grey background) */
.progress-container {
	width: 100%;
	height: 1vh;
	background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
	height: 1vh;
	background: red !important;
	width: 0%;
}