/* STRUCTURE */

#container { 

}

#logoVermontVision {
	background-color: black;
	height: 5vh;
	min-height: 70px;
}

#logoVermontVision h1 {
	color: grey;
	float: left;
	margin-left: 3%;
	padding-top: 1vh;
}

#carte {
	box-sizing: border-box;
	height: 65vh;
	width: 100vw;
	text-align: center;
	background-color: black;
}

#vermontView {
    max-height:100%;
    max-width: 100%;
    /* image resized to fiully fill the div */
    /*width:100%;
    height:100%;*/
    
}

#timeLine {
	background-color: black;
	height: 30vh;
	min-height: 200px;
}



